<head>
    <link rel="stylesheet" href="/css/header.css">
    <script src="/js/js-front-header.js"></script>
</head>
<header>
   <div>
        <img class="logo"src="/images/logo azul3.png" alt="">
        
        <div class="contenedorMas">

            <div class="contenedorMenu">
                <ul id="menu" class="ocultar">
                    <li><a href="/">inicio</a></li>
                    <li><a href="/equipo">nosotros</a></li>
                    <li><a href="#nosotros">contacto</a></li>
                </ul>
            </div>
            <div class="boton">
                <div class="hamburger" id="hamburger">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
            </div>
            
            
        </div>
        
   </div>
</header>